@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,450;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  width: 100%;
  height: 100%;
  font-size: 15px;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Libre Franklin", sans-serif;
  font-weight: 450;
  /* font-family: "Open Sans", sans-serif; */
  @apply text-font-color tracking-wide;
}

.page-grid {
  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: auto 1fr; */
  grid-template-rows: 100%;
}

@responsive {
  .explore-grid {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 36rem) minmax(48rem, 1fr) 1fr;
    grid-template-rows: 100%;
  }
}

.thread-grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.post-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 0.75rem;
}

/* SCROLL BAR */

.left-scrollbar {
  direction: rtl;
}

.left-scrollbar * {
  direction: ltr;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /* border-radius: 5rem; */
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  /* border-radius: 5rem; */
  border: 1px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}
